<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<SubSonicService defaultProvider="DbWebSiteConnectionString">
		<providers>
			<clear/>
			<add name="DbWebSiteConnectionString" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="DbWebSiteConnectionString" generatedNamespace="DalWebSite"/>
		</providers>
	</SubSonicService>

	<connectionStrings>
		<!--<add name="DbWebSiteConnectionString" connectionString="Data Source=185.252.30.43,2022;Initial Catalog=pezeshk4_BedonemarzDb;User ID=pezeshk4_dbuser;Password=bt746D^1m"
		 providerName="System.Data.SqlClient" />-->

		<add name="DbWebSiteConnectionString" connectionString="Data Source=185.191.78.226,2019;Initial Catalog=masoudra_psDb;User ID=psDb_user;Password=Nhs661s#"
	 providerName="System.Data.SqlClient" />

	</connectionStrings>


	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"   maxRequestLength="1073741824" executionTimeout="5400"/>
		<pages validateRequest="false" enableEventValidation="false" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>



	<system.webServer>
		<!--<staticContent>
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>-->
		<!--<httpErrors>
			<remove statusCode="400" />
			<error statusCode="400" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\bad_request.html" />
			<remove statusCode="401" />
			<error statusCode="401" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\unauthorized.html" />
			<remove statusCode="403" />
			<error statusCode="403" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\forbidden.html" />
			<remove statusCode="404" />
			<error statusCode="404" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\not_found.html" />
			<remove statusCode="405" />
			<error statusCode="405" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\method_not_allowed.html" />
			<remove statusCode="406" />
			<error statusCode="406" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\not_acceptable.html" />
			<remove statusCode="407" />
			<error statusCode="407" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\proxy_authentication_required.html" />
			<remove statusCode="412" />
			<error statusCode="412" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\precondition_failed.html" />
			<remove statusCode="414" />
			<error statusCode="414" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\request-uri_too_long.html" />
			<remove statusCode="415" />
			<error statusCode="415" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\unsupported_media_type.html" />
			<remove statusCode="500" />
			<error statusCode="500" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\internal_server_error.html" />
			<remove statusCode="501" />
			<error statusCode="501" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\not_implemented.html" />
			<remove statusCode="502" />
			<error statusCode="502" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\bad_gateway.html" />
			<remove statusCode="503" />
			<error statusCode="503" path="D:\vhosts\pezeshkanebedonemarz.ir\error_docs\maintenance.html" />
		</httpErrors>-->
		<tracing>
			<traceFailedRequests>
				<clear />
			</traceFailedRequests>
		</tracing>
	</system.webServer>
	<!--<system.web>
		<compilation tempDirectory="D:\vhosts\pezeshkanebedonemarz.ir\tmp" />
	</system.web>-->


</configuration>