:root {
  --primary-500: #0052A8;
  --primary-400: #5C91C7;
  --primary-300: #A3C1E0;
  --primary-200: #D6E3F1;
  --primary-100: #F5F8FC;

  --secondary-500: #00DCA7;
  --secondary-400: #5CE9C7;
  --secondary-300: #A3F2DF;
  --secondary-200: #D6F9F1;
  --secondary-100: #F5FEFB;

  --tertiary-500: #F53751;
  --tertiary-400: #F97F90;
  --tertiary-300: #FBB7C1;
  --tertiary-200: #FDDFE3;
  --tertiary-100: #FFF7F8;

  --gray-500: #071F39;
  --gray-400: #617081;
  --gray-300: #A6AFB8;
  --gray-200: #D7DBDF;
  --gray-100: #F5F6F7;

  --blue: #1D9BF0;

  --swiper-navigation-sides-offset:0;

  --theme-container-with: min(100%,92vw);
  --theme-sticky-container-with: min(100%,96vw);
}
