html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.elementor-kit-146 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-46c853a: #0052A8;
    --e-global-color-f51120b: #5C91C7;
    --e-global-color-b3da280: #A3C1E0;
    --e-global-color-d7052f2: #D6E3F1;
    --e-global-color-1bebc8f: #F5F8FC;
    --e-global-color-b1ab2af: #00DCA7;
    --e-global-color-f34bc6b: #5CE9C7;
    --e-global-color-58ed6e3: #A3F2DF;
    --e-global-color-c53352d: #D6F9F1;
    --e-global-color-143c191: #F5FEFB;
    --e-global-color-355ff7c: #F53751;
    --e-global-color-4791e6c: #F97F90;
    --e-global-color-460d046: #FBB7C1;
    --e-global-color-50c328a: #FDDFE3;
    --e-global-color-223dca6: #FFF7F8;
    --e-global-color-1908ead: #071F39;
    --e-global-color-0097f47: #617081;
    --e-global-color-96ac8f1: #A6AFB8;
    --e-global-color-7f19a1d: #D7DBDF;
    --e-global-color-a000609: #F5F6F7;
    --e-global-color-976f709: #1D9BF0;
    --e-global-color-26db0c3: #FFFFFF;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-08a12a7-font-size: 32px;
    --e-global-typography-08a12a7-font-weight: 700;
    --e-global-typography-08a12a7-font-style: normal;
    --e-global-typography-08a12a7-line-height: 57.6px;
    --e-global-typography-f4d59d8-font-size: 24px;
    --e-global-typography-f4d59d8-font-weight: 400;
    --e-global-typography-f4d59d8-font-style: normal;
    --e-global-typography-f4d59d8-line-height: 43.2px;
    --e-global-typography-28d439e-font-size: 24px;
    --e-global-typography-28d439e-font-weight: 600;
    --e-global-typography-28d439e-font-style: normal;
    --e-global-typography-28d439e-line-height: 43.2px;
    --e-global-typography-9fd9cb7-font-size: 24px;
    --e-global-typography-9fd9cb7-font-weight: 700;
    --e-global-typography-9fd9cb7-font-style: normal;
    --e-global-typography-9fd9cb7-line-height: 43.2px;
    --e-global-typography-0b66097-font-size: 20px;
    --e-global-typography-0b66097-font-weight: 600;
    --e-global-typography-0b66097-font-style: normal;
    --e-global-typography-0b66097-line-height: 36px;
    --e-global-typography-5b6ef88-font-size: 20px;
    --e-global-typography-5b6ef88-font-weight: 700;
    --e-global-typography-5b6ef88-font-style: normal;
    --e-global-typography-5b6ef88-line-height: 36px;
    --e-global-typography-efb93b0-font-size: 18px;
    --e-global-typography-efb93b0-font-weight: 400;
    --e-global-typography-efb93b0-font-style: normal;
    --e-global-typography-efb93b0-line-height: 32.4px;
    --e-global-typography-08c8346-font-size: 18px;
    --e-global-typography-08c8346-font-weight: 500;
    --e-global-typography-08c8346-font-style: normal;
    --e-global-typography-08c8346-line-height: 32.4px;
    --e-global-typography-c40b55f-font-size: 18px;
    --e-global-typography-c40b55f-font-weight: 700;
    --e-global-typography-c40b55f-font-style: normal;
    --e-global-typography-c40b55f-line-height: 32.4px;
    --e-global-typography-7890732-font-size: 16px;
    --e-global-typography-7890732-font-weight: 400;
    --e-global-typography-7890732-font-style: normal;
    --e-global-typography-7890732-line-height: 28.8px;
    --e-global-typography-0ac3ac8-font-size: 16px;
    --e-global-typography-0ac3ac8-font-weight: 500;
    --e-global-typography-0ac3ac8-font-style: normal;
    --e-global-typography-0ac3ac8-line-height: 28.8px;
    --e-global-typography-2397996-font-size: 16px;
    --e-global-typography-2397996-font-weight: 700;
    --e-global-typography-2397996-font-style: normal;
    --e-global-typography-2397996-line-height: 28.8px;
    --e-global-typography-08025b0-font-size: 14px;
    --e-global-typography-08025b0-font-weight: 400;
    --e-global-typography-08025b0-font-style: normal;
    --e-global-typography-08025b0-line-height: 25.2px;
    --e-global-typography-f88a0ad-font-size: 14px;
    --e-global-typography-f88a0ad-font-weight: 600;
    --e-global-typography-f88a0ad-font-style: normal;
    --e-global-typography-f88a0ad-line-height: 25.2px;
    --e-global-typography-509bb16-font-size: 14px;
    --e-global-typography-509bb16-font-weight: 700;
    --e-global-typography-509bb16-font-style: normal;
    --e-global-typography-509bb16-line-height: 25.2px;
    --e-global-typography-8efc932-font-size: 13px;
    --e-global-typography-8efc932-font-weight: 400;
    --e-global-typography-8efc932-font-style: normal;
    --e-global-typography-8efc932-line-height: 23.4px;
    --e-global-typography-6401247-font-size: 13px;
    --e-global-typography-6401247-font-weight: 700;
    --e-global-typography-6401247-font-style: normal;
    --e-global-typography-6401247-line-height: 23.4px;
}

    .elementor-kit-146 e-page-transition {
        background-color: #FFBC7D;
    }

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1216px;
}

.e-con {
    --container-max-width: 1216px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width: 1024px) {
    .elementor-kit-146 {
        --e-global-typography-c40b55f-font-size: 16px;
        --e-global-typography-c40b55f-line-height: 16px;
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-146 {
        --e-global-typography-08a12a7-font-size: 16px;
        --e-global-typography-08a12a7-line-height: 28.8px;
        --e-global-typography-08c8346-font-size: 10px;
        --e-global-typography-c40b55f-font-size: 15px;
        --e-global-typography-c40b55f-line-height: 27px;
        --e-global-typography-0ac3ac8-font-size: 12px;
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}


body {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.main-layout {
    max-width: 100%;
    flex: 1;
}
.container {
    width: 92%;
    max-width: var(--content-width, 1140px);
    margin: 0 auto;
}
.header {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-142 .elementor-element.elementor-element-25befacb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}
body.rtl .e-con {
    --padding-inline-start: var(--padding-right);
    --padding-inline-end: var(--padding-left);
    --margin-inline-start: var(--margin-right);
    --margin-inline-end: var(--margin-left);
    --border-inline-start-width: var(--border-right-width);
    --border-inline-end-width: var(--border-left-width);
}

:is(.elementor-section-wrap,[data-elementor-id]) > .e-con {
    --margin-left: auto;
    --margin-right: auto;
    max-width: min(100%, var(--width));
}

.e-con-boxed.e-flex {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}

.elementor-element {
    - .e-con.e-flex > .e-con-inner {
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}
.e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
}

.elementor-default .e-con > .e-con-inner {
    width: var(--theme-container-with);
}

.e-con > .e-con-inner {
    gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 100%;
}

.e-con, .e-con > .e-con-inner {
    display: var(--display);
}
    .e-con-full, .e-con > .e-con-inner {
        text-align: var(--text-align);
        padding-block-start: var(--padding-block-start);
        padding-block-end: var(--padding-block-end);
    }

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

.elementor-142 .elementor-element.elementor-element-f9c11b5 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 8px 8px;
    --flex-wrap: nowrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

body.rtl .e-con {
    --padding-inline-start: var(--padding-right);
    --padding-inline-end: var(--padding-left);
    --margin-inline-start: var(--margin-right);
    --margin-inline-end: var(--margin-left);
    --border-inline-start-width: var(--border-right-width);
    --border-inline-end-width: var(--border-left-width);
}

.e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
}
#el-top-menu {
    position: static;
}

.elementor-142 .elementor-element.elementor-element-ac24082.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}
.elementor-142 .elementor-element.elementor-element-ac24082 .pzy-top-menu-widget {
    gap: 49px;
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

.pzy-flex-row-nowrap {
    flex-flow: row nowrap;
}

.pzy-d-flex {
    display: flex;
}

@media screen and (min-width: 768px) {
    .only-mobile, .toggle-menu, .mobile-menu-wrapper {
        display: none !important;
    }
}

.toggle-menu {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 100%;
    background-color: #DCEDFF;
    color: var(--primary-500);
}
.elementor a {
    box-shadow: none;
    text-decoration: none;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
}
.mobile-menu-wrapper {
    background: rgba(0, 82, 168, 0.41);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    overflow: auto;
}
.main-desktop-menu {
    flex: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.elementor-142 .elementor-element.elementor-element-ac24082 .main-desktop-menu > ul > li {
    padding: 0px 8px 24px 8px;
}

.main-desktop-menu > ul > li {
    padding: 8px;
    position: relative;
}
.main-desktop-menu > ul > li > a {
        display: flex;
        flex-direction: column;
}

.main-desktop-menu > ul > li > a.pzy-active:before {
            opacity: 1;
 }

        .main-desktop-menu > ul > li > a:before {
            display: inline-block;
            content: "";
            width: 0.5px;
            height: 20px;
            background: var(--primary-500, #0052A8);
            margin: 0 auto 8px;
            opacity: 0;
        }
.elementor-142 .elementor-element.elementor-element-ac24082 .main-desktop-menu > ul > li a .pzy-link-text {
    gap: 4px;
}

.main-desktop-menu > ul > li a:hover .pzy-link-text, .main-desktop-menu > ul > li a.pzy-active .pzy-link-text {
    color: var(--primary-500);
}

.main-desktop-menu > ul > li > a .pzy-link-text {
    flex-flow: column wrap;
    text-align: center;
}

.main-desktop-menu > ul > li a .pzy-link-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-400);
}
.main-desktop-menu > ul > li a:hover .pzy-link-text svg, .main-desktop-menu > ul > li a.pzy-active .pzy-link-text svg {
    stroke: var(--primary-500);
}

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}

svg {
    vertical-align: middle;
}
.elementor-142 .elementor-element.elementor-element-f9b18dd:not(.elementor-motion-effects-element-type-background), .elementor-142 .elementor-element.elementor-element-f9b18dd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-46c853a);
}

@media (min-width: 768px) {
    .elementor-142 .elementor-element.elementor-element-f9b18dd {
        --width: 152px;
    }
}

.elementor-142 .elementor-element.elementor-element-f9b18dd, .elementor-142 .elementor-element.elementor-element-f9b18dd::before {
    --border-transition: 0.3s;
}

.elementor-142 .elementor-element.elementor-element-f9b18dd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 48px 48px;
    --background-transition: 0.3s;
    --border-radius: 32px 32px 32px 32px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-left: 24px;
    --padding-right: 24px;
}

body.rtl .e-con {
    --padding-inline-start: var(--padding-right);
    --padding-inline-end: var(--padding-left);
    --margin-inline-start: var(--margin-right);
    --margin-inline-end: var(--margin-left);
    --border-inline-start-width: var(--border-right-width);
    --border-inline-end-width: var(--border-left-width);
}

.e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
}

.e-con.e-flex {
    --flex-direction: column;
    --flex-basis: auto;
    --flex-grow: 0;
    --flex-shrink: 1;
    flex: var(--flex-grow) var(--flex-shrink) var(--flex-basis);
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

.elementor-142 .elementor-element.elementor-element-f791ab6.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}

.e-con.e-con > .e-con-inner > .elementor-widget, .elementor.elementor .e-con > .elementor-widget {
    max-width: 100%;
}
.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block;
}
.elementor-142 .elementor-element.elementor-element-23f473b {
    --display: flex;
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow))* 100%);
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 1px 1px 1px 1px;
    --border-top-width: 1px;
    --border-right-width: 1px;
    --border-bottom-width: 1px;
    --border-left-width: 1px;
    border-color: var(--e-global-color-d7052f2);
    --border-color: var(--e-global-color-d7052f2);
    --border-radius: 100% 100% 100% 100%;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}
.elementor-142 .elementor-element.elementor-element-23f473b, .elementor-142 .elementor-element.elementor-element-23f473b::before {
    --border-transition: 0.3s;
}
@media (min-width: 768px) {
    .elementor-142 .elementor-element.elementor-element-23f473b {
        --width: 48px;
    }
}
.e-con.e-flex > .e-con-inner {
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    align-content: var(--align-content);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
}

.e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
    flex-direction: var(--flex-direction);
}

.elementor-default .e-con > .e-con-inner {
    width: var(--theme-container-with);
}

.e-con > .e-con-inner {
    gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 100%;
}

.e-con, .e-con > .e-con-inner {
    display: var(--display);
}
    .e-con-full, .e-con > .e-con-inner {
        text-align: var(--text-align);
        padding-block-start: var(--padding-block-start);
        padding-block-end: var(--padding-block-end);
    }

.elementor *, .elementor :after, .elementor :before {
    box-sizing: border-box;
}
.elementor-142 .elementor-element.elementor-element-ac24082 .logo {
    width: 127px;
}
.pzy-align-items-center {
    align-items: center;
}

.pzy-d-flex {
    display: flex;
}





